<mat-card class="example-card" *ngIf="client || book">
  <mat-card-header>
    <div mat-card-avatar><mat-icon matSuffix>account_circle</mat-icon></div>
    <mat-card-title>{{client ? client?.clientName : book?.title}}</mat-card-title>
    <mat-card-subtitle>{{book ? book?.author : null}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
        {{client ? client?.age : book?.subtitle}}
    </p>
  </mat-card-content>
  <img mat-card-image src="{{client ? client?.photo : book?.photo}}"
    alt="Photo of {{client ? client?.name : book?.title}}">
</mat-card>
