<div class="form">
  <form [formGroup]="form">
    <mat-slide-toggle color="primary" formControlName="slideToggle" *ngIf="authorOrTitle">
      {{ form.value.slideToggle ? 'Books title' : 'Author name' }}</mat-slide-toggle>
    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile [colspan]="5">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Digite o nome" formControlName="input">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary" (click)="getData()">Search</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>